body
{
	position: relative;
	background-color: #000;
}

#visualizer
{
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
}

#logo
{
	width: 100%;
	height: auto;
	will-change: transform;
	transition: transform 80ms ease-in;
}

#particles
{
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
}
